nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}

  nav.vertical > a {
    list-style-type: none;
  }

    /*nav.vertical > ul > li {
      display: block;
    }*/